In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('transfusion.csv')

In [3]:
df

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0
...,...,...,...,...,...
743,23,2,500,38,0
744,21,2,500,52,0
745,23,3,750,62,0
746,39,1,250,39,0
747,72,1,250,72,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Recency (months)                            748 non-null    int64
 1   Frequency (times)                           748 non-null    int64
 2   Monetary (c.c. blood)                       748 non-null    int64
 3   Time (months)                               748 non-null    int64
 4   whether he/she donated blood in March 2007  748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

In [5]:
# Rename target column as 'target' for brevity 
df.rename(
    columns={'whether he/she donated blood in March 2007': 'target'},
    inplace=True
)

# Print out the first 2 rows
df.head(2)

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),target
0,2,50,12500,98,1
1,0,13,3250,28,1

In [6]:
# Print target incidence proportions, rounding output to 3 decimal places
df.target.value_counts(normalize=True)

0    0.762032
1    0.237968
Name: target, dtype: float64

In [21]:
# Import train_test_split method
from sklearn.model_selection import train_test_split

# Split transfusion DataFrame into
# X_train, X_test, y_train and y_test datasets,
# stratifying on the `target` column
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns='target'),
    df.target,
    test_size=0.25,
    random_state=42,
    stratify=df.target
)

# Print out the first 2 rows of X_train
X_train.head(5)

     Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
334                16                  2                    500             16
99                  5                  7                   1750             26
116                 2                  7                   1750             46
661                16                  2                    500             16
154                 2                  1                    250              2

In [8]:
pip install tpot

Requirement already satisfied: tpot in c:\users\user\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy>=1.16.3 in c:\users\user\anaconda3\lib\site-packages (from tpot) (1.24.3)
Requirement already satisfied: scipy>=1.3.1 in c:\users\user\anaconda3\lib\site-packages (from tpot) (1.10.1)
Requirement already satisfied: scikit-learn>=1.4.1 in c:\users\user\anaconda3\lib\site-packages (from tpot) (1.5.0)
Requirement already satisfied: deap>=1.2 in c:\users\user\anaconda3\lib\site-packages (from tpot) (1.4.1)
Requirement already satisfied: update-checker>=0.16 in c:\users\user\anaconda3\lib\site-packages (from tpot) (0.18.0)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\user\anaconda3\lib\site-packages (from tpot) (4.65.0)
Requirement already satisfied: stopit>=1.1.1 in c:\users\user\anaconda3\lib\site-packages (from tpot) (1.1.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\user\anaconda3\lib\site-packages (from tpot) (1.5.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\user\anaconda3\lib\site-packages (from tpot) (1.2.0)
Requirement already satisfied: xgboost>=1.1.0 in c:\users\user\anaconda3\lib\site-packages (from tpot) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.2->tpot) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.2->tpot) (2022.7)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn>=1.4.1->tpot) (3.5.0)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from tqdm>=4.36.1->tpot) (0.4.6)
Requirement already satisfied: requests>=2.3.0 in c:\users\user\anaconda3\lib\site-packages (from update-checker>=0.16->tpot) (2.29.0)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.2->tpot) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2023.5.7)
Note: you may need to restart the kernel to use updated packages.

In [12]:
pip install --upgrade tpot

Requirement already satisfied: tpot in c:\users\user\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy>=1.16.3 in c:\users\user\anaconda3\lib\site-packages (from tpot) (1.24.3)
Requirement already satisfied: scipy>=1.3.1 in c:\users\user\anaconda3\lib\site-packages (from tpot) (1.10.1)
Requirement already satisfied: scikit-learn>=1.4.1 in c:\users\user\anaconda3\lib\site-packages (from tpot) (1.5.0)
Requirement already satisfied: deap>=1.2 in c:\users\user\anaconda3\lib\site-packages (from tpot) (1.4.1)
Requirement already satisfied: update-checker>=0.16 in c:\users\user\anaconda3\lib\site-packages (from tpot) (0.18.0)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\user\anaconda3\lib\site-packages (from tpot) (4.65.0)
Requirement already satisfied: stopit>=1.1.1 in c:\users\user\anaconda3\lib\site-packages (from tpot) (1.1.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\user\anaconda3\lib\site-packages (from tpot) (1.5.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\user\anaconda3\lib\site-packages (from tpot) (1.2.0)
Requirement already satisfied: xgboost>=1.1.0 in c:\users\user\anaconda3\lib\site-packages (from tpot) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.2->tpot) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.2->tpot) (2022.7)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn>=1.4.1->tpot) (3.5.0)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from tqdm>=4.36.1->tpot) (0.4.6)
Requirement already satisfied: requests>=2.3.0 in c:\users\user\anaconda3\lib\site-packages (from update-checker>=0.16->tpot) (2.29.0)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.2->tpot) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2023.5.7)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import tpot
print(tpot.__version__)

0.12.2

In [13]:
pip install torch torchvision

Collecting torch
  Using cached torch-2.3.1-cp311-cp311-win_amd64.whl (159.8 MB)
Collecting torchvision
  Using cached torchvision-0.18.1-cp311-cp311-win_amd64.whl (1.2 MB)
Requirement already satisfied: filelock in c:\users\user\anaconda3\lib\site-packages (from torch) (3.9.0)
Collecting typing-extensions>=4.8.0 (from torch)
  Using cached typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Requirement already satisfied: sympy in c:\users\user\anaconda3\lib\site-packages (from torch) (1.11.1)
Requirement already satisfied: networkx in c:\users\user\anaconda3\lib\site-packages (from torch) (2.8.4)
Requirement already satisfied: jinja2 in c:\users\user\anaconda3\lib\site-packages (from torch) (3.1.2)
Requirement already satisfied: fsspec in c:\users\user\anaconda3\lib\site-packages (from torch) (2023.3.0)
Collecting mkl<=2021.4.0,>=2021.1.1 (from torch)
  Using cached mkl-2021.4.0-py2.py3-none-win_amd64.whl (228.5 MB)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from torchvision) (1.24.3)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in c:\users\user\anaconda3\lib\site-packages (from torchvision) (9.4.0)
Collecting intel-openmp==2021.* (from mkl<=2021.4.0,>=2021.1.1->torch)
  Using cached intel_openmp-2021.4.0-py2.py3-none-win_amd64.whl (3.5 MB)
Collecting tbb==2021.* (from mkl<=2021.4.0,>=2021.1.1->torch)
  Using cached tbb-2021.13.0-py3-none-win_amd64.whl (286 kB)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\user\anaconda3\lib\site-packages (from jinja2->torch) (2.1.1)
Requirement already satisfied: mpmath>=0.19 in c:\users\user\anaconda3\lib\site-packages (from sympy->torch) (1.2.1)
Installing collected packages: tbb, intel-openmp, typing-extensions, mkl, torch, torchvision
  Attempting uninstall: tbb
    Found existing installation: TBB 0.2
Note: you may need to restart the kernel to use updated packages.

ERROR: Cannot uninstall 'TBB'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.

In [10]:
from tpot import TPOTClassifier

C:\Users\USER\anaconda3\Lib\site-packages\tpot\builtins\__init__.py:36: UserWarning: Warning: optional dependency `torch` is not available. - skipping import of NN models.
  warnings.warn("Warning: optional dependency `torch` is not available. - skipping import of NN models.")

In [15]:
# Import TPOTClassifier and roc_auc_score
from tpot import TPOTClassifier
from sklearn.metrics import roc_auc_score

# Instantiate TPOTClassifier
tpot = TPOTClassifier(
    generations=5,
    population_size=20,
    verbosity=2,
    scoring='roc_auc',
    random_state=42,
    disable_update_check=True,
    config_dict='TPOT light'
)
tpot.fit(X_train, y_train)

# AUC score for tpot model
tpot_auc_score = roc_auc_score(y_test, tpot.predict_proba(X_test)[:, 1])
print(f'\nAUC score: {tpot_auc_score:.4f}')

# Print best pipeline steps
print('\nBest pipeline steps:', end='\n')
for idx, (name, transform) in enumerate(tpot.fitted_pipeline_.steps, start=1):
    # Print idx and transform
    print(f'{idx}. {transform}')

Optimization Progress:   0%|          | 0/120 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: 0.7422459184429089

Generation 2 - Current best internal CV score: 0.7422459184429089

Generation 3 - Current best internal CV score: 0.7422459184429089

Generation 4 - Current best internal CV score: 0.7422459184429089

Generation 5 - Current best internal CV score: 0.7423330644124078

Best pipeline: LogisticRegression(RobustScaler(input_matrix), C=25.0, dual=False, penalty=l2)

AUC score: 0.7858

Best pipeline steps:
1. RobustScaler()
2. LogisticRegression(C=25.0, random_state=42)

In [16]:
# X_train's variance, rounding the output to 3 decimal places
X_train.var().round(3)

Recency (months)              66.929
Frequency (times)             33.830
Monetary (c.c. blood)    2114363.700
Time (months)                611.147
dtype: float64

In [17]:
# Import numpy
import numpy as np

# Copy X_train and X_test into X_train_normed and X_test_normed
X_train_normed, X_test_normed = X_train.copy(), X_test.copy()

# Specify which column to normalize
col_to_normalize = 'Monetary (c.c. blood)'

# Log normalization
for df_ in [X_train_normed, X_test_normed]:
    # Add log normalized column
    df_['monetary_log'] = np.log(df_[col_to_normalize])
    # Drop the original column
    df_.drop(columns=col_to_normalize, inplace=True)

# Check the variance for X_train_normed
X_train_normed.var().round(3)

Recency (months)      66.929
Frequency (times)     33.830
Time (months)        611.147
monetary_log           0.837
dtype: float64

In [18]:
# Importing modules
from sklearn import linear_model

# Instantiate LogisticRegression
logreg =  linear_model.LogisticRegression(
    solver='liblinear',
    random_state=42
)

# Train the model
logreg.fit(X_train_normed, y_train)

# AUC score for tpot model
logreg_auc_score = roc_auc_score(y_test, logreg.predict_proba(X_test_normed)[:, 1])
print(f'\nAUC score: {logreg_auc_score:.4f}')

AUC score: 0.7891

In [20]:
# Importing itemgetter
from operator import itemgetter

# Sort models based on their AUC score from highest to lowest
sorted(
    [('tpot', tpot_auc_score), ('logreg', logreg_auc_score)],
    key=itemgetter(1)
)

[('tpot', 0.7857596948506039), ('logreg', 0.7890972663699937)]